@model GitHubSearch.Models.Users.UserSearchResultViewModel

@{
    ViewBag.Title = "Search Result";
}

<main>
    <div class="mb-3">
        <a href='@Url.Action("Index", "Users")' class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>
    </div>

    <!-- SUMMARY -->
    <div class="alert alert-secondary" role="alert">
        <div class="d-flex flex-row">
            <div class="me-3">
                <img src="@Model.User.AvatarUrl" class="img-thumbnail" height="150" width="150" />
            </div>

            <div>
                <h1><a href="@Model.User.Url" class="alert-link">@Model.User.Username</a></h1>
                @Html.DisplayFor(m => m.User.Location)
            </div>
        </div>
    </div>

    <!-- REPOS -->
    <div>
        <h3>Repos</h3>

        @if (!Model.HasRepos) {
            <p>This user has no public repositories.</p>
        } else {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Stargazers</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var repo in Model.User.Repos) {
                        <text>
                            <tr>
                                <th scope="row"><a href="@repo.Url">@repo.Name</a></th>
                                <td>@repo.Description</td>
                                <td>@repo.StargazersCount</td>
                            </tr>
                        </text>
                    }
                </tbody>
            </table>
        }
    </div>
</main>